In [27]:
import pandas as pd
import numpy as np

In [28]:
data = {"Nombre": ["Daniel", "Isabel", "Diana", "Salome", None, "Manuela", "Sofia", "Geronimo", "Gabriela", "Nelcy"],
         "Edad": [40, 39, 39, None, 5, 6, 5, 7, 13, 63],
         "Ciudad": ["Panama", "Tulua", "Buga", "Andalucia", "Sevilla", "Trujillo", "Riofrio", "Bolivar", "San pedro", np.nan ]
         }
df = pd.DataFrame(data)
df

     Nombre  Edad     Ciudad
0    Daniel  40.0     Panama
1    Isabel  39.0      Tulua
2     Diana  39.0       Buga
3    Salome   NaN  Andalucia
4      None   5.0    Sevilla
5   Manuela   6.0   Trujillo
6     Sofia   5.0    Riofrio
7  Geronimo   7.0    Bolivar
8  Gabriela  13.0  San pedro
9     Nelcy  63.0        NaN

# Limpieza de datos

### Rellenar los valores faltantes

In [30]:
df_fill = data.fillna(
    {
        "Edad": data["Edad"].mean(),
        "Nombre": "Desconocido"  
    } 
)
df_fill

AttributeError: 'dict' object has no attribute 'fillna'

https://www.youtube.com/watch?v=Id2ZC7YxQZk&list=PL5C9QKu8AsmUK_7AEP0hSmt-8vcE8gnIB&index=6