In [130]:
import pandas as pd

In [131]:
df = pd.read_csv('https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv')
print(df)

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

1- Verifica si la base de datos contiene datos nulos y, en caso de tenerlos, realiza el tratamiento de estos datos nulos de la manera que consideres más coherente con la situación.

In [132]:
df.isnull()
print(df)

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

In [133]:
df.isnull().sum()
df = df.fillna(0)

2- Los estudiantes "Alicia" y "Carlos" ya no forman parte del grupo. Por lo tanto, elimínalos de la base de datos.

In [ ]:
eliminar_estudiantes = df.query('Nombre == "Alicia" | Nombre == "Carlos"').index #
df.drop(eliminar_estudiantes, axis=0, inplace=False) # eliminar filas de Alicia y Carlos

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   0.0      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   0.0      False
6    Daniela    21   7.0       True
9     Victor    28   0.0      False
10    Danilo    21   0.0      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   0.0      False
15    Milena    29   7.0       True
16     Lucas    33   0.0      False
17     Nadia    34   8.0  Verdadero

3- Aplica un filtro que seleccione solo a los estudiantes que fueron aprobados.

In [135]:
df.head()

    Nombre  Edad  Nota Aprobado
0  Alberto    20   7.5     True
1      Ana    18   0.0    False
2   Camila    27   2.5    False
3    David    18   5.0    False
4    Brian    21  10.0     True

In [136]:
# Paso 1: Estandarizar la columna 'Aprobado' (convertir "Verdadero" a True y "Falso" a False)
df['Aprobado'] = df['Aprobado'].replace({'Verdadero': True, 'False': False}).astype(bool)

In [137]:
alumnos_aprobados = df[df['Aprobado'] == True] # filtro para alumnos aprobados
print(alumnos_aprobados)

      Nombre  Edad  Nota  Aprobado
0    Alberto    20   7.5      True
4      Brian    21  10.0      True
6    Daniela    21   7.0      True
12  Stephany    26  10.0      True
13    Miriam    25   9.0      True
15    Milena    29   7.0      True
17     Nadia    34   8.0      True

4- Guarda el DataFrame que contiene solo a los estudiantes aprobados en un archivo CSV llamado "alumnos_aprobados.csv".

In [139]:
alumnos_aprobados.to_csv('alumnos_aprobados.csv', index=False)

Extra: Al revisar las calificaciones de los estudiantes aprobados, notamos que algunas calificaciones eran incorrectas. Las estudiantes que obtuvieron una calificación de 7.0, en realidad tenían un punto extra que no se contabilizó. Por lo tanto, reemplaza las calificaciones de 7.0 en la base de datos por 8.0. Consejo: busca el método replace.

In [138]:
alumnos_aprobados.replace(7.0,8.0)
alumnos_aprobados = alumnos_aprobados.replace(7.0,8.0)
print(alumnos_aprobados)

      Nombre  Edad  Nota  Aprobado
0    Alberto    20   7.5      True
4      Brian    21  10.0      True
6    Daniela    21   8.0      True
12  Stephany    26  10.0      True
13    Miriam    25   9.0      True
15    Milena    29   8.0      True
17     Nadia    34   8.0      True