In [93]:
import pandas as pd

In [94]:
df = pd.read_csv('https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv')
print(df)

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

1- Verifica si la base de datos contiene datos nulos y, en caso de tenerlos, realiza el tratamiento de estos datos nulos de la manera que consideres más coherente con la situación.

In [95]:
df.isnull()
print(df)

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

In [96]:
llenar_datos = df.interpolate()
print(llenar_datos)

      Nombre  Edad       Nota   Aprobado
0    Alberto    20   7.500000       True
1        Ana    18   5.000000      False
2     Camila    27   2.500000      False
3      David    18   5.000000      False
4      Brian    21  10.000000       True
5      Bruna    23   8.500000      False
6    Daniela    21   7.000000       True
7     Carlos    19   6.000000      False
8     Alicia    35   5.600000      False
9     Victor    28   5.233333      False
10    Danilo    21   4.866667      False
11   Ignacio    24   4.500000      False
12  Stephany    26  10.000000       True
13    Miriam    25   9.000000       True
14     Pablo    37   8.000000      False
15    Milena    29   7.000000       True
16     Lucas    33   7.500000      False
17     Nadia    34   8.000000  Verdadero

C:\Users\Daniel\AppData\Local\Temp\ipykernel_4952\196966552.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  llenar_datos = df.interpolate()

2- Los estudiantes "Alicia" y "Carlos" ya no forman parte del grupo. Por lo tanto, elimínalos de la base de datos.

In [97]:
filtro1 = llenar_datos
print(filtro1)

      Nombre  Edad       Nota   Aprobado
0    Alberto    20   7.500000       True
1        Ana    18   5.000000      False
2     Camila    27   2.500000      False
3      David    18   5.000000      False
4      Brian    21  10.000000       True
5      Bruna    23   8.500000      False
6    Daniela    21   7.000000       True
7     Carlos    19   6.000000      False
8     Alicia    35   5.600000      False
9     Victor    28   5.233333      False
10    Danilo    21   4.866667      False
11   Ignacio    24   4.500000      False
12  Stephany    26  10.000000       True
13    Miriam    25   9.000000       True
14     Pablo    37   8.000000      False
15    Milena    29   7.000000       True
16     Lucas    33   7.500000      False
17     Nadia    34   8.000000  Verdadero

In [98]:
df2 = filtro1.drop([7, 8], axis=0, inplace=False) #
print(df2)

      Nombre  Edad       Nota   Aprobado
0    Alberto    20   7.500000       True
1        Ana    18   5.000000      False
2     Camila    27   2.500000      False
3      David    18   5.000000      False
4      Brian    21  10.000000       True
5      Bruna    23   8.500000      False
6    Daniela    21   7.000000       True
9     Victor    28   5.233333      False
10    Danilo    21   4.866667      False
11   Ignacio    24   4.500000      False
12  Stephany    26  10.000000       True
13    Miriam    25   9.000000       True
14     Pablo    37   8.000000      False
15    Milena    29   7.000000       True
16     Lucas    33   7.500000      False
17     Nadia    34   8.000000  Verdadero

3- Aplica un filtro que seleccione solo a los estudiantes que fueron aprobados.

In [100]:
df = pd.DataFrame(df2)

# Paso 1: Estandarizar la columna 'Aprobado' (convertir "Verdadero" a True y "Falso" a False)
df['Aprobado'] = df['Aprobado'].replace({'Verdadero': True, 'Falso': False}).astype(bool)

# Paso 2: Filtrar estudiantes aprobados
aprobados = df[df['Aprobado'] == True]

print(aprobados)

      Nombre  Edad       Nota  Aprobado
0    Alberto    20   7.500000      True
1        Ana    18   5.000000      True
2     Camila    27   2.500000      True
3      David    18   5.000000      True
4      Brian    21  10.000000      True
5      Bruna    23   8.500000      True
6    Daniela    21   7.000000      True
9     Victor    28   5.233333      True
10    Danilo    21   4.866667      True
11   Ignacio    24   4.500000      True
12  Stephany    26  10.000000      True
13    Miriam    25   9.000000      True
14     Pablo    37   8.000000      True
15    Milena    29   7.000000      True
16     Lucas    33   7.500000      True
17     Nadia    34   8.000000      True

4- Guarda el DataFrame que contiene solo a los estudiantes aprobados en un archivo CSV llamado "alumnos_aprobados.csv".

Extra: Al revisar las calificaciones de los estudiantes aprobados, notamos que algunas calificaciones eran incorrectas. Las estudiantes que obtuvieron una calificación de 7.0, en realidad tenían un punto extra que no se contabilizó. Por lo tanto, reemplaza las calificaciones de 7.0 en la base de datos por 8.0. Consejo: busca el método replace.